{% extends 'base.html.twig' %}

{% block content %}
<h1>Ex13 - Gestion des employés via ORM</h1>

{% for label, messages in app.flashes %}
    {% for message in messages %}
        <p>{{ message }}</p>
    {% endfor %}
{% endfor %}

<hr>
<a href="{{ path('ex13_add') }}">
    <button>Ajouter un employé</button>
</a>

<hr>

<ul>
{% for e in employees %}
    <li>
        {{ e.firstname }} {{ e.lastname }} - {{ e.position }}

        <a href="{{ path('ex13_edit', { id: e.id }) }}">
            ✏️
        </a>

        <a href="{{ path('ex13_delete', { id: e.id }) }}">
            ❌
        </a>
    </li>
{% endfor %}
</ul>
{% endblock %}